.hero-showscreen{
	
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: rgb(0,0,0,0.7);
    display: none;
    
}
.hero-imgbox{
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	text-align: center;
}

.hero-bigimg{
	
	display: inline-block;
	position: relative;	
	
	}

.hero-closebtn{
	position: absolute;
    top: 0;
    right:0;
    width: 30px;
    height: 30px;
    background: transparent url(../img/fancybox.png) -40px 0px;
    cursor: pointer;
    transform: scale(1.5);
}
.hero-nextBTN{
	position: absolute;
	cursor: pointer;
	width: 30px;
    height: 30px;
	background: url(../img/fancybox.png) -40px -60px;
	top: 50%;
	margin-top: -15px;
	right: 0;
	transform: scale(1.5);
}
.hero-prevBTN{
	position: absolute;
	cursor: pointer;
	width: 30px;
    height: 30px;
	background: url(../img/fancybox.png) -40px -30px;
	top: 50%;
	margin-top: -15px;
	left: 0;
	transform: scale(1.5);
}